body {
    background-color:#003366;


    font-family: Arial, sans-serif;

    color: white;

    text-align: center;
    
}
div {

     
    font-family: Arial, sans-serif;

    color: white;

    text-align: center;


}


input{
    
    text-align: center;
}


